.Rproj.user
.Rhistory
.RData
inst/doc
*.pdf
.vscode
.claude/

# added by SR_update_gitignore (2026-04-03)
**/*.png
**/*.cpg
**/*.csv
**/*.data
**/*.sas7bdat
**/*.dbf
**/*.xdf
**/*.DS_Store
**/*.dump
**/*.exe
**/*.fst
**/*.html
**/*.jar
**/*.jpg
**/*.jpeg
**/*.gif
**/*.json
**/*.log
**/*.model
**/*.model.ubj
**/*model.ubj
*.model
**/model
*model
**/*.names
**/*.prj
**/*.Rapp.history
**/*.rattle
**/*.rda
**/*.RData
**/*.rds
**/*.qs
**/*.feather
**/*.parquet
**/*.Rhistory
**/*.Rproj.user
**/*.sbn
**/*.sbx
**/*.shp
**/*.shx
**/*.sqlite
**/*.traineddata
**/*.txt
**/*.xml
**/*.xls
**/*.xlsm
**/*.xlsx
**/*.ppt
**/*.pptx
**/*.doc
**/*.docx
**/*.pdf
**/*.mp4
**/*.zip
**/*.dat
**/*.tar.gz
**/alt/*.*
**/R Backup/**/
**/*.Rproj.user
**/*.Rproj.user/*
**/*.Rhistory
**/*.Rapp.history
.Rprofile
**/*.h5
**/*_AutoML_*
**/*AutoML*
**/packrat/*
**/renv/*
**/R_Script.R
**/.ipynb_checkpoints/*
**/tmp/*
**/Thumbs.db
$
**/*.out
**/*.nfs**
__pycache__
customer-analytics-pytools
views_replication.ini
